<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/saly-explorer.png">
        <h1>
            Bem-vindo {{ this.username }}
        </h1>
        <h4>
            Você é um grande explorador!
        </h4>
        <h2>
            Certo dia, você sai para navegar e descobre o UniVerse, um arquipélago com seis ilhas, cada uma simbolizando uma área única de vocação. Prepare-se, a jornada para o autodescobrimento está prestes a começar.
        </h2>
        <div>
            <button mat-dialog-close id="modal-main-button">
                    Vamos lá!
            </button>
        </div>
    </div>
</div>
