<mat-dialog-content class="mat-typography">
    <div class="content">
        <h3 class="title">
            Bem-vindo ao UniVerse: A Ilha da Vocação!
        </h3>
        <p class="p-content">
            <b>{{ this.username }}</b>, você é um intrépido explorador em busca de autodescoberta, decide embarcar em uma aventura única e transformadora. Em um misterioso dia, um mapa chega às suas mãos, levando-o a uma ilha desconhecida chamada UniVerse. A ilha é lendária por abrigar seis cantos distintos, vilas, cada um representando uma área única de vocação.

        </p>
        <p class="p-content">
            Agora, aperte o cinto, mergulhe no mundo do UniVerse!
        </p>
        <p class="p-content">
            Bom jogo!
        </p>
        <div class="example-button-row">
            <button mat-button mat-dialog-close style="background-color: #3C6A54;">
                <p class="btn">
                    Começar
                </p>
            </button>
        </div>
    </div>
</mat-dialog-content>
