<mat-dialog-content class="mat-typography">
    <div class="content">
        <h3 class="title">
            {{this.title}}
        </h3>
        <p class="p-content">
            O UniVerse é um teste vocacional gamificado que tem como objetivo ajudá-lo de forma lúdica e interativa a descobrir a melhor área ou curso que combina com seu perfil.
        </p>
        <p class="title">
            Como jogar:
        </p>
        <p class="p-content">
            O teste contém seis fases, cada uma contendo suas perguntas e contextos. Para avançar, é necessário concluir as fases anteriores. Após ter concluído todas as fases, você receberá o resultado final, onde poderá conferir as principais áreas que combinam com seu perfil e uma lista de cursos de graduação da UFSM dessas respectivas áreas.
        </p>
        <p class="p-content">
            Agora, aperte o cinto, mergulhe no mundo do UniVerse, onde você está em uma ilha repleta de desafios e aventuras!
        </p>
        <p class="p-content">
            Bom teste!
        </p>
        <div class="example-button-row">
            <button mat-button mat-dialog-close style="background-color: #3C6A54;">
                <p class="btn">
                    Iniciar
                </p>
            </button>
        </div>
    </div>
</mat-dialog-content>
