<body>
    <div class="back">
        <a routerLink="../../"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon class="material-icons color_white">arrow_back_ios</mat-icon> 
        </button></a><br>            
    </div>
    <div class="container">
        <mat-card>
            <mat-card-content>
                <h2>Cadastro</h2>
                <p>Preencha as informações abaixo para criar sua conta!</p>
                <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="form">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput name="username" [(ngModel)]="user.username" #username="ngModel" required >
                            <mat-error *ngIf="!user.username">Insira um nome de usuário.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput name="email"  [(ngModel)]="user.email" #email="ngModel">
                        </mat-form-field>
                        <section>
                            <div class="example-button-row">
                                <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">Criar conta</button>
                            </div>
                        </section>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>
