body {
    background-image: url('../../../../assets/img/bkg/home-bkg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

mat-card {
    width: 75%;
    height: 55%;
    padding: 20px;
    overflow: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

h2 {
    color: #13432C;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Modulus Pro';
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

p {
    margin-bottom: -15px;
    color: #1b5c3d;
    font-size: 11px;
    font-family: 'Modulus Pro';
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    color: #1b5c3d;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Modulus Pro';
    margin-bottom: 15px;
}

.material-icons.color_white {
    color: #FFFFFF
}
