<mat-dialog-content class="mat-typography">
    <div class="content">
        <p class="title">Bem vindo, {{this.user.username}}</p>
        <p class="p-content">
            Raio Xcape é um jogo didático, no estilo Escape Room, que trata sobre assuntos de radiologia.
            Desenvolvido como uma parceria entre a Universidade Federal de Santa Maria (UFSM) e a Associação
            Gaúcha de Radiologia (AGR). Seu público-alvo são médicos residentes em radiologia, e o objetivo do
            jogo é proporcionar uma experiência imersiva de formação na área para acadêmicos de medicina do
            Rio Grande do Sul.
        </p>
        

        <p class="goodgame">Bom Jogo!</p>    
    </div>
    <mat-dialog-actions align="center">
        <div class="example-button-row">
             <button mat-button mat-dialog-close style="background-color: #3C6A54;"><p class="btn">Começar</p></button>
        </div>
    </mat-dialog-actions>
</mat-dialog-content>