.container {
    text-align: center;
}

.card {
    text-align: center;
    padding: 24px 0 0 0;
}

.exploring-planet-top {
    width: 82.5%;
    max-width: 393px;
    margin: 0 auto;
}

.exploring-planet-bottom {
    width: 74.5%;
    max-width: 354px;
    margin: -8px auto 32px auto;
}