<body>
    <div class="back">
        <a routerLink="../../">
            <button mat-icon-button>
                <mat-icon class="material-icons color_white">
                    arrow_back_ios
                </mat-icon> 
            </button>
        </a>
        <br>            
    </div>
    <div id="test-creation-container">
        <mat-card id="card">
            <mat-card-content id="card-content">
                <div id="card-text">
                    <div id="card-title">
                        Iniciar teste
                    </div>
                    <div id="card-description">
                        Preencha o formulário abaixo para iniciar um novo teste!
                    </div>
                </div>
                <form #form="ngForm" (ngSubmit)="onSubmit()">
                    <div id="card-form">
                        <mat-form-field class="card-form-field">
                            <mat-label class="card-form-field-label">
                                Username
                            </mat-label>
                            <input
                                class="card-form-field-input"
                                matInput
                                name="username"
                                [(ngModel)]="testCreationDTO.username"
                                #username="ngModel"
                                required
                            >
                            <mat-error
                                class="card-form-field-error-message"
                                *ngIf="!testCreationDTO.username || testCreationDTO.username.trim() === ''"
                            >
                                Informe um username
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="card-form-field">
                            <mat-label class="card-form-field-label">
                                Email
                            </mat-label>
                            <input
                                class="card-form-field-input"
                                matInput
                                name="email"
                                [(ngModel)]="testCreationDTO.email"
                                #email="ngModel"
                            >
                        </mat-form-field>
                        <button
                            id="card-form-submit-button"
                            mat-flat-button
                            color="primary"
                            type="submit"
                            [disabled]="form.invalid"
                        >
                            Enviar
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>
