<p>info-history works!</p>
<mat-dialog-content class="mat-typography">
    <div class="content">
        <h3 class="finish">Fase concluída!</h3>
        <p class="p-content">
            Deseja continuar ou voltar ao menu anterior?
        </p>
        <p class="p-warning">
            Não se preocupe, seu progresso será salvo.
        </p>
        <div class="example-button-row">
            <button mat-button mat-dialog-close class="button" style="background-color: #57a881;" (click)="goToPersonality()">
                <p class="btn">
                    Voltar
                </p>
            </button>
            <button mat-button mat-dialog-close class="button" style="background-color: #3C6A54;" (click)="continue()">
                <p class="btn">
                   Continuar
                </p>
            </button>
        </div>
    </div>
</mat-dialog-content>
