<mat-dialog-content id="dialog1" class="mat-typography">
    <div class="content">
      <h3 class="finish" *ngIf="personalityData">{{ personalityData.storyTitle }}</h3>
      <p class="p-content" *ngIf="personalityData">
        {{ personalityData.storyDescription}}
      </p>
      <div class="example-button-row">
        <button mat-button mat-dialog-close style="background-color: #3C6A54;" (click)="continue()">
            <p class="btn">
                Iniciar
            </p>
        </button>
    </div>
    </div>
  </mat-dialog-content>