<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/saly.png">
        <h3>
            Aqui está o seu código exclusivo
        </h3>
        <h1>
            {{this.code}}
        </h1>
        <h4>
            Ele permite você retomar o jogo de onde parou e recuperar seus resultados.
        </h4>
        <div>
            <button mat-dialog-close id="modal-main-button" style="cursor: pointer;" (click)="goToTest()">
                Entendido!
            </button>
        </div>
    </div>
</div>
