<mat-dialog-content class="mat-typography">
    <div class="content">
        <h3 class="code">Usuário criado com sucesso!</h3>
        <p class="p-content">
            Sabemos que a vida pode ser imprevisível e às vezes você pode precisar fazer uma pausa. Não se preocupe, nós te entendemos!
        </p>
        <p class="p-content">
            Abaixo está o seu código único. Você pode usar este código para retomar o seu progresso a qualquer momento. Basta inserir este código quando você voltar e você poderá continuar de onde parou.
        </p>
        <h3 class="code">
            {{this.code}}
        </h3>
        <p class="p-content">
            Lembre-se de guardar este código em um lugar seguro!
        </p>
        <div class="example-button-row">
            <button mat-button mat-dialog-close style="background-color: #3C6A54;" (click)="goToTest()">
                <p class="btn">
                    Iniciar
                </p>
            </button>
        </div>
    </div>
</mat-dialog-content>
