<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/saly.png">
        <p class="text">
            Aqui está o seu código exclusivo
        </p>
        <p class="title">
            {{this.code}}
        </p>
        <p class="info-text">
            Ele permite você retomar o jogo de onde parou e recuperar seus resultados.
        </p>
        <div>
            <button mat-dialog-close mat-raised-button id="modal-main-button" style="cursor: pointer;" (click)="goToTest()">
                Entendido!
            </button>
        </div>
    </div>
</div>
