<body>
    <div class="back">
        <a routerLink="/"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon class="material-icons color_white">arrow_back_ios</mat-icon>
            </button></a><br>
    </div>
    <div class="container">
        <mat-card>
            <mat-card-content>
                <h2>Continuar teste</h2>
                <p>Informe o seu código de usuário para continuar o teste.</p>
                <div class="form">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                            <mat-label>Código</mat-label>
                            <input matInput [(ngModel)]="userCode" name="userCode" required>
                        </mat-form-field>
                        <a href="/test/creation">Não possui um código? Clique aqui para iniciar um novo teste!</a>
                        <section>
                            <div class="example-button-row">
                                <button mat-flat-button color="primary" type="submit">Enviar</button>
                            </div>
                        </section>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</body>
