.card {
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 16px;
    transition: all 0.3s ease;

}

.current {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

h2 {
    margin: 16px 8px !important;
    margin-top: 32px;
    margin-bottom: 24px;
    opacity: 0.7;

}

h3 {
    margin: 0 8px !important;
}
  

h4 {
    margin: 16px 2px 4px 0;
}

.custom-progress-bar {
    height: 20px !important;
}

.custom-progress-bar .mat-progress-bar-fill::after {
    background-color: #9BD552 !important;
}

.custom-progress-bar {
    width: 301px;
    height: 8.246px;
  }

.example-button-container{
    padding: 8px 0;
    text-align: left;
}

.example-button-container button {
    width: 100%;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.example-button-container p {
    color: #FFF;
    font-family: Fredoka;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 16px 8px 16px;
}

.phase-name {
    color: #FFF;
    font-family: Fredoka;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
}

.progress-bar {
    margin: 4px auto;
    width: 99.6%;
    height: 8.246px;
    background-color: #EEE;
    border-radius: 24px;
}

.progress-track {
    height: 100%;
    background-color: #9BD552;
    border-radius: 24px;
    width: 0;
    transition: width 0.5s ease-in-out;
}
