<body>
  <div class="container-edge">
  <div class="header">
    <div class="logo">
        UniVerse
    </div>
    <div class="user-data">
        <div class="text-block">
          <p class="user-name">{{ username }}</p>
          <p class="user-code">{{ userCode }}</p>
        </div>
        <img class="galaxy" src="./../../assets/images/items/galaxy-color.png">
    </div>          
  </div>

  <div class="container">
    <div class="card animate__animated animate__fadeInDown">
      <div class="current">
        <div>
          <h4>Planeta</h4>
          <div class="phase-name">
            {{ currentPhaseName }}
          </div>
        </div>
        <img src="../../../../assets/images/items/bike.png">
      </div>
      <div class="current">
        <h4>Progresso</h4>
        <h4>
          Questão {{ currentQuestionNumber }}
        </h4>
      </div>
      <div class="progress-bar">
        <div class="progress-track" [style.width.%]="phaseProgress"></div>
      </div>      
    </div>

    <div class="card animate__animated animate__fadeInRight">
      <div>
        <h2>Cenário</h2>
        <h3>{{ statement?.storyText }}</h3>
      </div>  

      <div class="text">
        <h2>Escolha uma opção</h2>
      </div>
      <div class="example-flex-container">
        <div *ngFor="let option of statement?.options">
          <div class="example-button-container">
            <button mat-fab class="option-button" (click)="saveAnswer(option.value)">
              <p class="button">{{ option.description }}</p>
            </button>
          </div>
        </div>
      </div>      
      </div>
    </div>
  </div>
  <div class="footer">
    <a class="button-link">
        <button id="return-button" (click)="goToHome()">
            <img src="./../../assets/images/icons/arrow_circle_left.svg" alt="Ícone de voltar">
        </button>
    </a>  
    <img class="planets" src="./../../assets/images/items/planets.svg">      
</div>
</body>
