body {
  align-items: center;
  background-image: url('/assets/images/backgrounds/map-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  font-family: 'Modulus Pro', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#personality-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.personality-button {
  background-color: transparent;
  border: none !important;
  cursor: pointer;
  font-size: 0;
  height: 67px;
  position: absolute;
  width: 93px;
}

#personality-6-button {
  left: 302px;
  top: 100px;
}

#personality-5-button {
  left: 170px;
  top: 200px;
}

#personality-4-button {
  left: 157px;
  top: 310px;
}

#personality-3-button {
  left: 250px;
  top: 375px;
}

#personality-2-button {
  left: 50px;
  top: 450px;
}

#personality-1-button {
  left: -5px;
  top: 580px;
}
