<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/tommy-card.png">
        <p class="title">Atenção!</p>
        <p class="text">
            Tem certeza que deseja sair antes de concluir a fase?
        </p>
        <p class="info-text">
            O progresso só será salvo ao final de cada fase.
        </p>
        <button mat-dialog-close id="modal-main-button" (click)="continue()">
            Continuar
        </button>
        <button mat-dialog-close id="modal-secondary-button" (click)="goToPersonality()">
                Sair
        </button>
    </div>
</div>
