<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/tommy-card.png">
        <h3 class="finish">Atenção!</h3>
        <h2>
            Tem certeza que deseja sair antes de concluir a fase?
        </h2>
        <h4>
            O progresso só será salvo ao final de cada fase.
        </h4>
        <button mat-dialog-close id="modal-main-button" (click)="continue()">
            Continuar
        </button>
        <button mat-dialog-close id="modal-secondary-button" (click)="goToPersonality()">
                Sair
        </button>
    </div>
</div>
