@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: #c0fade,
  100: #a8f1ce,
  200: #91ebc0,
  300: #64e4a6,
  400: #4eca8e,
  500: #3ea774,
  600: #2e8a5d,
  700: #256e4b,
  800: #1b5c3d,
  900: #13432c,

  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

$accent-palette: (
  50: #e7eaf5,
  100: #cffae5,
  200: #baffde,
  300: #95f1c5,
  400: #80e4b4,
  500: #78c9a2,
  600: #8ac4a8,
  700: #7baf96,
  800: #60967c,
  900: #3c6a54,

  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

$custom-theme-primary-color: mat.define-palette($primary-palette, 900);
$custom-theme-accent-color: mat.define-palette($accent-palette, 900);
$custom-theme-warn-color: mat.define-palette(mat.$orange-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-theme-primary-color,
    accent: $custom-theme-accent-color,
    warn: $custom-theme-warn-color,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.core-theme($custom-theme);
@include mat.button-theme($custom-theme);

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
