@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-extra-light.otf') format('opentype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-semi-bold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-extra-bold.otf') format('opentype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Modulus Pro';
  src: url('./modulus-pro/modulus-pro-black.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
}
