<div class="modal-card">
    <div class="modal-container">
        <img src="../../../../assets/images/personagens/gary-computer.png">
        <p class="title">Parabéns, você finalizou o jogo!</p>
        <p class="text">
            Seu resultado está pronto! Ele vai dizer em
            quais áreas você pode ter mais aptidão.
        </p>
        <button mat-dialog-close mat-raised-button id="modal-main-button" (click)="goToResult()">
            Ver meu resultado
        </button>
    </div>
</div>
